.redLine {
    position: absolute;
    background-color: #ff0000;
    height: 20px;
    width: 100%;
    border-radius: 8px;
    z-index: 1000;
}

.redLine.horizontalMiddle,
.redLine.verticalRight,
.redLine.verticalMiddle,
.redLine.verticalLeft,
.redLine.diagonalLeft,
.redLine.diagonalRight {
    top: 50%;
    left: 50%;
}

.redLine.verticalLeft,
.redLine.verticalMiddle,
.redLine.verticalRight {
    height: 95%;
    width: 13px;
}





.redLine.redLine.horizontalMiddle {
    transform: translate(-50%, -50%);
}

.redLine.verticalRight,
.redLine.verticalMiddle {
    transform: translate(-50%, -50%) rotate(180deg);
}

.redLine.verticalRight {
    left: 83%;
}




.redLine.verticalLeft {
    transform: translate(-50%, -50%) rotate(180deg);
    left: 16.5%;
}


@media(min-width: 768px) {

    .redLine.diagonalLeft,
    .redLine.diagonalRight {
        width: 20px;
        height: 130%;
    }

    .redLine.diagonalLeft {
        transform: translate(-50%, -50%) rotate(50deg);
    }
}


@media(min-width: 1200px) {
    .redLine.diagonalRight {
        transform: translate(-50%, -50%) rotate(-50deg);
    }
}




.redLine.horizontalTop {
    transform: translateY(80px);
}

.redLine.horizontalBottom {
    bottom: 85px;
}




@media (min-width: 768px) and (max-width: 1200px) {

    .redLine.diagonalLeft,
    .redLine.diagonalRight {
        height: 120%;
        width: 20px;
    }
}

@media(max-width: 1200px) and (min-width: 1000px) {
    .redLine.diagonalLeft {
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .redLine.diagonalRight {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
}

@media (min-width: 768px) and (max-width: 999px) {
    .redLine.diagonalLeft {
        transform: translate(-50%, -50%) rotate(39deg);
    }

    .redLine.diagonalRight {
        transform: translate(-50%, -50%) rotate(-39deg);
    }
}

@media(max-width: 767px) {
    .ticTacToeMainGameContainer {
        height: fit-content !important;
    }

    .redLine.horizontalTop {
        transform: translateY(40px);
    }


}

@media (max-width: 767px) and (min-width: 425px) {
    .redLine.diagonalRight {
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .redLine.diagonalLeft {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
}

@media(max-width: 424px) {

    .redLine.diagonalLeft,
    .redLine.diagonalRight {
        width: 140%;
    }

    .redLine.diagonalRight {
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .redLine.diagonalLeft {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
}