
.ticTacToeGridSection{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

.ticTacToeMainGameContainer{
    height: 95%;
    width: 50%;
}

#ticTacToeGrid{
    width: 100%;
    height: 100%;
}


#ticTacToeGrid > tr:not(:last-child){
    border-bottom: var(--ticTacToeGridBorderColor);
}



#firstRow > td{
    border-top: none;
}


.ticTacToeRow > td:nth-child(2){
    border-left: var(--ticTacToeGridBorderColor);
    border-right: var(--ticTacToeGridBorderColor);
}

