
.ticTacToeGridSection{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    max-height: 750px;
}



.ticTacToeMainGameContainer{
    height: 95%;
    /* width: 50%; */
    position: relative;
}

.ticTacToeMainGameContainer td{
    width: 100px;
    height: 100px;
    text-align: center;
    display: table-cell;
}

.ticTacToeMainGameContainer td svg{
    font-size: 90px !important;;
}


#ticTacToeGrid{
    width: 50vw;
    height: 100%;
}


#ticTacToeGrid > tr:not(:last-child){
    border-bottom: var(--ticTacToeGridBorderColor);
}





#firstRow > td{
    border-top: none;
}


.ticTacToeRow > td:nth-child(2){
    border-left: var(--ticTacToeGridBorderColor);
    border-right: var(--ticTacToeGridBorderColor);
}

#ticTacToeGrid{
    /* min-width: 265px; */
    max-width: 720px;
}


@media(max-width: 767px){

    .ticTacToeMainGameContainer td svg{
        font-size: 60px !important;    
    }

    .ticTacToeMainGameContainer td{
        width: 105px !important;
    }
}

@media (max-width: 767px) and (min-width: 425px){
    #ticTacToeGrid{
        height: 60%;
        width: 388px;
    }
}

@media(max-width: 424px){
    #ticTacToeGrid{
        height: 300px;
        width: 250px;
    }

    .ticTacToeMainGameContainer td{
        width: 70px !important;
        min-width: 70px !important;
        max-width:70px !important;
    }

    
}

