.navbar {
    height: 130px;
    width: 100%;
    border-right: none;
    border-left: none;
    border-top: none;
    display: flex;
    flex-direction: column;
    background-color: var(--backgroundColor);
    position: fixed;
    z-index: 100002;
    top: 0;
    border-bottom: silver .05px solid;
}

.navbarSubContainer{
    height: 100%;
}

.gameSection{
    position: relative;
}

.gameSection button{
    position: absolute;
    right: 20px;
    font-size: 30px;;
}

.gameSection,
.nonGameSection{
    width: 99.8%;
}


.nonGameSection,
.gameSection{
    height: 100%;
}

.nonGameSection,
.gameSection {
    display: flex;
    justify-content: center;
    place-items: center;
}

.nonGameSection h1,
.gameSection h1 {
    font-weight: 350;
}

.unfixed-wrapper {
    height: 130px;
    width: 100vw;
}