.modal {
    width: 50vw;
    height: 50vh;
    min-width: 250px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--backgroundColor);
    border: solid grey .5px;
    z-index: 100005;
    border-radius: 8px;
    box-shadow: 25px 29px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);;
    padding: 16px 0px 16px 0px;
}

.modal > section{
    height: 50%;
    display: flex;
    justify-content: center;
    place-items: center;
}

.modal > section:last-child > button{
    height: 30px;
    width: 80px;
    border: var(--borderBtn);
    border-radius: 8px;
}

.modal > section:last-child > button:first-child{
    margin-right: 8px
}

.modal > section:last-child > button:last-child{
    margin-left: 8px;
}

