.sideModal{
    position: fixed;
    width: 20vw;
    background-color: var(--backgroundColor);
    border-left: var(--borderModal);
    border-top:var(--borderModal);;
    height: 100vh;
    right: 0;
    padding: 20px 0px 0px 0px;
    z-index: 1000000005;
    min-width: 280px;
}

.sideModal > div{
    height: 90px;
    margin-left: 20px;
    min-width: 280px;
}

.sideModal > div button:hover{
text-decoration: underline;
}

.sideModal > div button{
    font-size: 20px;
}

.sideModal > div button:last-child{
    margin-top: 15px;
    color: red;
}

@media (max-width: 767px){
    .sideModal{
        padding-top: 15px;
        width: 100vw;
        height:75px;    
        border-bottom: var(--borderModal);
        left: 0;
        min-width: 280px;
    }


}